<div class="chatting-control">
  <ul class="inline control-ul unstyled">

    <li class="control-li">
      <a href="#"><img src="skins/2WayVC/images/icon1.png"></a>
      <span class="timerCounter">00:00:00</span>
    </li>

    <li class="control-li wrtcAddEmailClick">
      <a href="#"><img src="skins/2WayVC/images/icon2.png"></a>
      <span>Add Call</span>
    </li>

    <li class="control-li">
      <a href="#" class="chat"><img src="skins/2WayVC/images/icon3.png"></a>
      <span>Chat</span>
    </li>

    <li class="control-li wrtcLocalMicBtn">
      <a href="#" class="click-img"><img src="skins/2WayVC/images/icon4.png"></a>
      <a href="#" class="shown-img"><img src="skins/2WayVC/images/click1.png"></a>
      <span>Mic Mute</span>
    </li>

    <li class="control-li wrtcLocalVideoBtn">
      <a href="#" class="click-img"><img src="skins/2WayVC/images/icon5.png"></a>
      <a href="#" class="shown-img"><img src="skins/2WayVC/images/click2.png"></a>
      <span>Video Off</span>
    </li>

    <li class="control-li wrtcLocalSpeakerBtn">
      <a href="#" class="click-img"><img src="skins/2WayVC/images/icon6.png"></a>
      <a href="#" class="shown-img"><img src="skins/2WayVC/images/click3.png"></a>
      <span>Speaker Mute</span>
    </li>

    <li class="control-li wrtcPreviewBtn">
      <a href="#" class="click-img"><img src="skins/2WayVC/images/icon7.jpeg"></a>
      <a href="#" class="shown-img"><img src="skins/2WayVC/images/click4.jpeg"></a>
      <span>Hide My Video</span>
    </li>

    <li class="control-li wrtcHangupAllAction">
      <a href="#"><img src="skins/2WayVC/images/icon8.png"></a>
      <span>End Call</span>
    </li>
  </ul>
</div>
