<div class="chatting-box">
  <div class="chatting-position content mCustomScrollbar" data-mcs-theme="minimal-dark">

    <div style="display:none">
      <div class="conversation-date">
        <span>today</span>
      </div>
      <div class="border-b">
      </div>
    </div>

    <div id="wrtcChatLog">
      <!-- Example of chat messages
      <div class="clear">
        <div class="next-body">
          how are you
          <span class="next-trg"></span>
        </div>
        <p class="time-stam text-right">5:06pm</p>
      </div>
      <div class="clear">
        <div class="next-body">
          fine thanks
          <span class="next-trg"></span>
        </div>
        <p class="time-stam text-right">5:02pm</p>
      </div>
      -->
    </div>


  </div>
  <div class="texting clear">
    <div class="writtting">
      <textarea id="wrtcChatInput"> </textarea>
    </div>
    <a id="wrtcChatButton" href="#" class="send">Send</a>
    <div class="clear"></div>
  </div>
  <div class="clear"></div>

</div>
