<div  class="online-box">
  <div class="padd-20">
    <p class="online-box-title">Participants (<span class="number-presenters">0</span>)</p>
    <div class="h-500 content mCustomScrollbar" data-mcs-theme="minimal-dark">
      <!--<p class="online-subtitle">Presenters (<span class="number-presenters">0</span>)</p>-->
      <ul class="user-list unstyled">

        <!-- elements with user status -->

      </ul>
    </div>
  </div>
  <div class="overlay-disable" style="display:none"></div>
</div>
