<div id="page2" style="display:none;">
  <div class="container">

    <div class="h-550">

      <% include _page2/_user_list.ejs %>

      <div class="callign-section">
        <% include ../partials/remote_video_holder.ejs %>
        <p class="calling-username"></p>
        <div class="caller">
          <div class="rela-200">
            <% include ../partials/local_video_holder.ejs %>
          </div>
        </div>
      </div>

      <% include _page2/_chat.ejs %>

    </div>
    <div class="clear"></div>

    <% include _page2/_buttons.ejs %>

  </div>
</div>
