<!-- page1 -->
<div id="page1" class="wrapper" style="display:none; visibility:hidden;">

  <div class="center">

    <div class="elegant-aero">
      <input type="text"   id="wrtcNameInput"       placeholder="Your Full Name"                style="display:none">
      <input type="text"   id="wrtcYourEmailInput"  placeholder="Your Email Address (Optional)" style="display:none">
      <input type="text"   id="wrtcOtherEmailInput" placeholder="Other Party Email Address"     style="display:none">
      <input type="button" id="btnStartEmailCall"   class="wrtcButton button" value="Start Video Conference" style="display:none">
    </div>

  </div>
</div>
<!-- page1 -->
