<!-- templates/partials/dialog-invite-list.ejs -->

<div class="dialog-invite-list dialog-cover">

  <%
//  <!--include_override('_user_list.ejs');-->
  %>

  <div  class="online-box-center">
      <p class="online-box-title">Choose the user</p>
      <div class="content mCustomScrollbar" data-mcs-theme="minimal-dark">
        <ul class="user-list unstyled">

        </ul>
      </div>
  </div>

</div>

<!-- templates/partials/dialog-invite-list.ejs -->
