<!-- TEMPLATE userlist-user-templates BEGIN -->
<script id="userlist-user-default-template-invite" type="text/template" class="template">

  <li class="present-li" data-user-id="<?= id ?>">
    <a href="#" class="username active-user add-call-action"><?= getVisibleName() ?></a>
    <div class="clear"></div>
  </li>

</script>
<!-- TEMPLATE userlist-user-templates END -->
