<!DOCTYPE html>
<html lang="en">
<head>
  <%
  var config = {};
  config.title = 'Video Conference';
  config.chromeExtension = false;

//  include('../templates/helpers/include-override.ejs');
  %>


  <% include ../templates/partials/head.ejs %>
  <% include ../templates/2WayVC/_head.ejs %>

</head>
<body>
<% include ../templates/partials/hidden_inputs.ejs %>

<div id="wrtcMainWrapper" class="">
  <% include ../templates/2WayVC/_page1.ejs %>
  <% include ../templates/2WayVC/_page2.ejs %>
</div>

<% include ../templates/partials/dialog-invite-email.ejs %>
<% include ../templates/2WayVC/dialog-invite-list.ejs %>
<% include ../templates/partials/stats.ejs %>

<script>
  $(document).ready(function() {

    $("#roles").val("employee");
    $("#wrtcMainWrapper").addClass("employee");

  });
</script>

</body>

<% include ../templates/partials/spinner.ejs %>

</html>
