<!-- templates/partials/basic-buttons.ejs -->
<div id="wrtcControls">
  <button id="btnStartLocal"        class="wrtcButton">Start Video 1</button>
  <button id="btnStartLocal2"       class="wrtcButton">Start Video 2</button>
  <button id="btnStartLScreen"      class="wrtcButton wrtcStartScreenBtn">Start Local Screen</button>

  <button id="btnCallRemote"        class="wrtcButton">Call Remote</button>
  <button id="btnHangup"            class="wrtcButton wrtcHangupBtn">Hang Up</button>
  <button id="btnStartScreen"       class="wrtcButton">Share Screen</button>
  <button id="btnRequestScreen"     class="wrtcButton">See Patient Screen</button>
  <button id="btnCallRemote2"       class="wrtcButton">Second camera</button>
  <input type="button" id="btnDataChannel"       class="wrtcButton" value="Data Channel">

  <input type="button" id="btnMeetPhysician"     class="wrtcButton" value="Meet Physician">
  <input type="button" id="btnMeetPhysicianLow"  class="wrtcButton" value="Meet Physician (Low Bandwidth)">
</div>
<!-- templates/partials/basic-buttons.ejs -->
