<!-- templates/partials/dialog-invite-email.ejs -->
<!-- dialog to enter username and email to invite new user -->
<div id="dialog-invite-other" title="Enter name and email of the user" style="display:none">
  <p class="validateTips" style="margin:0;">All form fields are required.</p>
  <form>
    <fieldset>
      <div>
        <label for="name">Name</label>
        <input type="text" name="name" id="name" placeholder="Enter name" value="" class="text ui-widget-content ui-corner-all">
      </div>
      <div>
        <label for="email">Email</label>
        <input type="text" name="email" id="email" placeholder="Enter email" value="" class="text ui-widget-content ui-corner-all">
      </div>
      <!-- Allow form submission with keyboard without duplicating the dialog button -->
      <input type="submit" tabindex="-1" style="position:absolute; top:-1000px">
    </fieldset>
  </form>
</div>
<!-- dialog to enter username and email to invite new user -->
<!-- templates/partials/dialog-invite-email.ejs -->
