<!-- templates/partials/link_area.ejs -->
<div id="link_area" class="link_area" style="right:unset; top:unset; bottom:-3px;">
  <h1 class="link_h1">Link to join conference</h1>
  <input type="text" id="link" name="link" placeholder="..." class="link_area_input"/>
  <input type="submit" id='copy_link' class="submit_bt" data-clipboard-target="link" value=""/>
</div>
<!-- templates/partials/link_area.ejs -->
