<!-- Remote Videos Placeholder  -->
<div id="wrtcRemoteVideoHolder" class="wrtcRemoteVideoHolder">
  <!-- Here will be placed the remote videos based on handlebars template each inside additional <div> -->
</div>
<!-- Remote Videos Placeholder  -->
