<div id="wrtcMediaSourceSelect_2">
  <br>
  <div>Second camera source:</div>
  <div class='select' style="display:none">
    <label for='wrtcAudioSource_2'>audio: </label>
    <select id='wrtcAudioSource_2'  class="wrtcSelectSource"></select>
  </div>
  <div class='select'>
    <label for='wrtcVideoSource_2'>video: </label>
    <select id='wrtcVideoSource_2'  class="wrtcSelectSource"></select>
  </div>
</div>
