<!-- templates/partials/stats.ejs -->
<!-- need to add a tabindex attribute to the <div> to allow it to receive the focus
      http://stackoverflow.com/questions/3759339/keypress-on-a-div-tag               -->
<div id="wrtcStats" class="wrtcHidden" tabindex="1">
  <div id="wrtcStats1">
    <h3>peerConnection.getStats()</h3>
  </div>
  <div id="wrtcStats2">
    Waiting for the data...
  </div>
</div>
<!-- templates/partials/stats.ejs -->
