<!-- TEMPLATE userlist-user-templates BEGIN -->
<script id="userlist-user-default-template" type="text/template" class="template">

  <li class="present-li" data-user-id="<?= id ?>">
    <!--<a href="#" class="username active-user start-call-action"><?= getVisibleName() ?></a>-->
    <div class="username active-user start-call-action"><?= getVisibleName() ?></div>
    <ul class="inline unstyled user-situation p-right">
      <li><a class="start-chat-action" href="#"><img src="skins/2WayVC/images/sms.png"></a></li>
      <li><a class="start-call-action"  href="#"><img src="skins/2WayVC/images/call.png"></a></li>
    </ul>
    <div class="clear"></div>
  </li>

</script>
<!-- TEMPLATE userlist-user-templates END -->
